

  .set-group  {

  font-family: 'poppinssemibold';
  height:100% !important;
  padding-bottom:25px !important;

}
.set-group .demo{
  border-bottom: dashed 1px #d1d3d4;
  padding:9px;
  background:skyblue;
  font-size: 18px;
  line-height: 1.42857143;
  color: #333;
  padding-left: 18px;
  font-weight: bold;
}
.set-group .demo h4{
  padding-left: 18px;
  font-weight: bold;

}
.form-control{
  border-radius: none !important;
}

.set-group .jconfirm .jconfirm-box-container.jconfirm-no-transition{
  margin:0!important;

}
.set-group .form-group
{
  margin-bottom: unset;
}
.set-group input[type=button] {
    padding: 0 8px 0px 2px !important;
    line-height: 26px !important;
    padding: 0 14px;
    border: none; 
    line-height: 26px;
    width:8em !important; text-align: center;
    border-radius: 4px;
    overflow: hidden;
    background-color: #03A9F4;
    color: #ffffff;
    font-size: 12px;
    cursor: pointer;
    margin-left: 2.7em;

  }
  .set-group .group
  {
    display: inline-flex;
  }
   .set-group span {
  display: inline-flex;
  margin: 0 8px 0 8px;

  }
  .set-group .btn_info{
    margin-left: 8px !important;
  }

  .set-group label{
    width:9em; margin-right: 1em; text-align: right;
    font-size: 14px;
    font-family: 'poppinssemibold';
    font-weight: normal !important;
 }
    .set-group input[type="password"] {
      width: 200px !important;
      height: 20px;
      display: inline-flex;
      margin-bottom: 17px;
      border: 0;
      box-shadow:none !important;
      border-bottom: 1px solid lightgrey;

  }