.userdetails{
     font-family: 'poppinssemibold';
     height:100% !important;
     padding-bottom:25px !important;
}
.userdetails .header{
border-bottom: dashed 1px #d1d3d4;
padding:2px;
background:skyblue;
}
.userdetails .header h4{
padding-left: 18px;
font-weight: bold;
}
.userdetails .userinfo{
   /*margin-top:12px !important;*/
    border:none !important;
 
}
.userdetails .content-area{
    border: 1px solid lightgrey;
    margin: 14px;
    border-radius: 5px !important;
}
.userdetails .content-area ul{
    list-style-type: none !important;
    display: inline-flex;
    background: #eee;
    width: 100% !important;
    margin:0 !important;
    padding-left:5px !important;
    padding-right:5px !important;
  
}
.userdetails .content-area ul li{
    /*padding-top:15px !important;
    padding-bottom:15px !important;*/
    padding:8px !important;
   
}

.userdetails .content-area ul li a{
   color:#525252 !important;
   text-decoration:none !important;
   background-color:white !important; 
}

.userdetails .content-area ul li:hover {
    /*background-color:white !important;   */
  }

.active{
    background-color:white !important;   
}

li.disabled {
   pointer-events: none;
   cursor: default;
    
}

.background{
  background:white !important;
} 

   